	<table class="table table-bordered">
		<tr><th>ID</th><th>Account</th><th>Username</th><th>Email</th><th>No Member</th><th>Team</th><th>Action</th></tr>
		<% @accounts.each do |account| %>
		  <tr>
		    <td><%= account.Name %></td>
		    <td><%= account.username__c %></td>
		    <td><%= account.email__c %></td>
		    <td><%= account.teamnumber__c %></td>
		    <td><%= account.Team__c.Name %></td>
		    <td><a href = "/account/<%= account.Id %>" />Details</td>
		  </tr>
		<% end %>
	</table>
