	<h3> List employees APV </h3>
	<table class="table table-bordered">
		<tr><th>Account</th><th>Username</th><th>Email</th><th>No Member</th><th>Team</th><th>Action</th></tr>
		<% @accounts.each do |account| %>
		  <tr>
		    <td><%= account.Name %></td>
		    <td><%= account.username__c %></td>
		    <td><%= account.email__c %></td>
		    <td><%= account.teamnumber__c %></td>
		    <% if !account.Team__r.Name.nil? %>
		    	<td><%= account.Team__r.Name %></td>
		    <% else %>
		    	<td>Next</td>
	    	<% end %>
		    <td><a href = "/details/<%= account.Id %>" />Details</td>
		  </tr>
		<% end %>
	</table>


<div class="panel-footer">
	<a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
	<span class="pull-right">
	  <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
	  <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
	</span>
</div>